<h1 [className] = "'forum-header'">Question Forum</h1>

 <body>
<div *ngIf="isUserSignedIn()">
    <textarea id="newQuestion" [(ngModel)]="newQuestion" rows="2" cols="60" placeholder="Post your questions here!  Someone is bound to have an answer!"> </textarea>
        <br><br>   
    <button id="postQuestion-btn" (click)="postQuestion()">Post Question</button>
</div>

<ul [className] = "'question-list'">
    <li *ngFor="let question of questions">
        <div><strong>{{question.question}}</strong> <p [className] = "'user-name'">Asked by User: 
            <label *ngIf="question.user !== undefined && question.user !== null "><strong>{{question.user.userName}}</strong></label> at {{question.createdAt}}
            </p>
            <div *ngIf="isUserSignedIn()">
                <div *ngIf="isUserSignedIn()">
                    <!--<textarea ng-attr-id="{{ question._id }}" id="newAnswer" [(ngModel)]="newAnswer" rows="2" cols="25"> </textarea>-->
                    <textarea id="newAnswer_{{question._id}}"  rows="2" cols="25"> </textarea>
                    <br><br>   
                    <button id="postAnswer-btn" (click)="postAnswer(question._id)">Post Answer</button>
                </div>

            </div>
                <button [className] = "'expand-bttn'">+</button>
                <div >
                    <li *ngFor="let answer of question.answers">
                        {{answer.answer}} 
                        <!-- Posted by User:
                        <label >{{answer}}</label> -->
                    </li>
                </div>
            
        </div>
        
    </li>
</ul>


 </body>   


