<div [className] = "'nav'" >
    
    <div [className] = "'combinedLogo'">

        <img [className] = "'logo'" src="../assets/logo.png"/>
        <h1 [className] = "'app-name'">itInfo </h1>
    </div>
    
    
    <div *ngIf="isUserSignedIn() === true">
        Hello {{userName}}
    </div>

    <span style="display:inline; width: 580px">
        <button routerLink="/home">home</button>
        <button routerLink="/forum">Forum</button>
        <button routerLink="/news">News</button>
        <button routerLink="/signin">sign in</button>
        <button routerLink="/signup">sign up</button>
        
        <button >logout</button>
        
    </span>





</div>




<!-- <div className='nav'>
    <Link className='app-name' to='/clients'>
        <img src={logo} className='logo' alt='hound logo' />
        <h1>Hound</h1>
    </Link>
    {token ? (
        <>
            <Link to='/clients' className='clients-link'>
                Clients
            </Link>
            <Link to='/prospects' className='prospects-link'>
                Prospects
            </Link>

            <button className='logout-button' onClick= {logout}>logout</button>
        </>
    ) : null}
</div> -->