.nav {
    display: flex;
    background-color: rgb(255, 102, 0);
    color:black; 
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding-bottom: .8%;
    height: 150px;
  }
  .nav a {
    color: white; 
    text-decoration: none;
  }
  .nav button:hover {
    color:black;
    background-color:white;
    cursor: pointer;
  }
  button {
    margin-top: 5%;
    background-color: black;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    color:white;
    text-align:center;
    transition: all 0.25s;
    font-size: 10pt;
    width: 20%; 
    height: 25%;
    grid-column: 6;
    margin-bottom: .2%;
    border-radius: 5%;
    margin-right: 5px;
    margin-left: 10%;
  }
  .combinedLogo{
      display: flex;
  }
  .logo {
    margin-top: 1em; 
    margin-right: .5em;
    width: 75px; 
    height: 54px; 
    grid-column: 1;
  }
  .app-name {
      margin-top: 1em;
    /* margin-left: 10px;  */
    
    grid-column: 1;
    font-size: 25px; 
  }
  
  .show-user {
    color: white;
    font-size: 14pt;
    margin-left: 33%;
    margin-top: 2%;
    margin-right: .5%;
    height: 15%;
    width: 15%;
    padding: .3%;
    background-color: black;
  }