<div class="imgcontainer">
    <img src="../assets/bitcoin.png" alt="Avatar" class="avatar" style="width: 150px">
  </div>
  <h2>Register Now</h2>
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" [(ngModel)]="userName" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" [(ngModel)]="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" (click)="signUp()">Sign Up</button>
    <!-- <div *ngIf="showErrorMessage">
      <h1>Invalid username and password Please try again</h1>
    </div> -->
  </div>
